{{ if .Paginator.HasNext }}
  <div class="pagination-bar">
    {{ if .Site.Params.swapPaginator }}
      <span class="btn btn--default btn--big pagination-next">
        {{ i18n "pagination.show_more" }}
      </span>
    {{ else }}
      <span class="btn btn--default btn--big pagination-next">
        {{ i18n "pagination.show_more" }}
      </span>
    {{ end }}
  </div>

  <script>
    $(document).ready(function () {
      var loadPage = {{ .Paginator.PageNumber }};
      var totalPages = {{ .Paginator.TotalPages }};

      $('.pagination-next').on('click', function () {
        loadPage = loadPage + 1;

        if (loadPage > totalPages) { return; }

        var url = '';
        if ({{ .URL }} == '/') {
            url = '/page/' + loadPage;
        } else {
            url =  '{{ .URL }}/page/' + loadPage;
        }
        $.get(url, function (result) {
          $('.pagination-bar').before($(result).find('article'));
          if (loadPage === totalPages) {
            $('.pagination-bar').remove()
          }
        });
      });
    });
  </script>
{{ end }}
