/* panoramic images */

.pano {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.pano figcaption {
  text-align: center;
}

.cv-list ul {
  width: 55%;
}

.cv-list ul li {
  border-bottom: 1px dotted gray;
  list-style-type: none;
}
