.caption {
  font-size: 1.7rem;
}

.figure {
  margin: 1.5em auto !important;
}

.figure.figure--fullWidth .figure-img {
  width: 100%;
}

/* fade in for pagination */
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fade-in {
  animation: fadeIn .4s linear;
}

