.post {
    position:       relative;
    width:          100%;
    display:        inline-block;
    vertical-align: top;

    .post-header {
      flex-direction: column;
        .post-title {
            margin:     0;
            word-break: initial;
            overflow:   hidden;

            &:hover {
                text-decoration: none;
            }
        }
    }
    // HERO IMG
    .hero-img {
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        height: 40vh;
        overflow: hidden;
        margin-bottom: 3rem;
        margin-top: -15px;

        img {
            left: -30%;
            position: absolute;
            top: -30%;
            width: 135%;
        }
    }
    // Post meta contains post's date, post's categories and tags
    .post-meta {
        line-height: 1.5em;
        font-family: map-get($font-families, 'post-meta');
        font-size:   map-get($font-size, small);
        font-weight: 400;
        color:       map-get($colors, light);

        a {
            color: map-get($colors, light);
        }
    }
    .post-content {
        text-rendering: optimizelegibility;
        letter-spacing: -0.3px;
        font-family:    map-get($font-families, 'post-content');
        color:          map-get($colors, base);
        margin-top:     20px;
        font-weight:    400;
        //overflow:       hidden;
        overflow:       visible;
        @include prefix('hypens', 'auto', 'webkit' 'moz');

        img {
            display:   block;
            width:     auto;
            max-width: 100%;
        }
        :not(blockquote):not(.alert) {
            & > p {
                margin: 1.5em 0 0 0;
            }
        }
    }
    .post-footer {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        &-tags {
            padding-bottom: 10px;
            margin-bottom:  10px;
            border-bottom:  1px solid #eef2f8;
        }
    }
}

.pano {
    img {
        width: 100% !important;
    }
}

@media #{$small-and-down} {
    .post {
        .hero-img {
            img {
                width: 200%;
            }
        }
    }
}

// Increase the font size of the post's title on medium screen (only for single post view)
@media #{$medium-only} {
    .post {
        .post-header {
            .post-title {
                font-size: map-get($headings-font-size, h1) + 0.5rem;
            }
        }
        .hero-img {
            img {
                width: 200%;
            }
        }
    }
}

// Increase font size of the post's title on large screen (only for single post view)
@media #{$large-and-up} {
    .post {
        .post-header {
            .post-title {
                font-size: map-get($headings-font-size, h1) + 0.9rem;
            }
        }
    }
}

// Increase font-size on medium and large screen
@media #{$medium-and-up} {
    .post-content {
        font-size: 1.7rem;
    }
}
